<h1><%= @city.name %> Restaurants</h1>
<hr />

<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, city_restaurant_path(@city, restaurant) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No restaurants. Please add one.</h3>
<% end %>

<%= link_to @city.name, city_path(@city) %>
<%= link_to 'Add New Restaurant', new_city_restaurant_path(@city) %>